{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "plugins": ["@typescript-eslint"],
    "extends": [
        "next/core-web-vitals"
        //"plugin:@typescript-eslint/recommended"
        //"eslint:recommended",
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": ["_OLD/**/*", "src/**/_OLD/**/*", "_swagger/*.ts","next.config.js", "prettier.config.js"],
    "rules": {
        "react-hooks/exhaustive-deps": "off"
    }
}
