@use '@example/styles/shared.module.scss';
@use '@example/styles/mixins' as mix;

.modal {
    @include mix.modal();

    .main {
        max-width: 800px;

        @media (min-height: 768px) {
            top: 100px;
        }
        left: 5%;
        @media (min-width: 890px) {
            left: calc((100% - 800px) / 2);
        }
    }
}

.rowSettings {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    .title {
        font-size: 1rem;
    }
    .value {
        font-size: 0.75rem;
    }
}
