{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "next/core-web-vitals",
    //"plugin:@typescript-eslint/recommended"
    //"eslint:recommended",
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "_OLD/**/*",
    "dist/**/*",
    "example/**/*",
    "node_modules/**/*",
    "src/**/_OLD/**/*",
    "next.config.cjs",
    "prettier.config.cjs"
  ],
  "rules": {
        "react-hooks/exhaustive-deps": "off"
   }
}


