/node_modules
/src
/_OLD
/src/**/_OLD
/example
/my-app
/smartDB.code-workspace
/smart-db.tgz
smart-db-*.tgz
/*smart-db.tgz
*smart-db-*.tgz
/.git
/package-lock.json
.priv
directory_structure.json
/tsconfig.json
/prettier.config.cjs
/.eslintrc