@use '@example/styles/shared.module.scss';

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 6px;
    }

    .subTitle {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    .text {
        font-size: small;
    }

    .createContainer {
        display: flex;
        gap: 12px;
        flex-direction: column;
        width: 400px;

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 235px;
        }
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .item {
            display: flex;
            align-items: center;
            padding: 8px;
            gap: 12px;
            .itemID {
                width: 50px;
                font-size: small;
            }
            .txHash {
                width: 100px;
                font-size: small;
            }
            .pkh {
                width: 100px;
                font-size: small;
            }
            .value {
                width: 100px;
                font-size: small;
            }

            input {
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 50px;
            }
        }
    }
}

// ModalStyles.scss
.modal {
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    width: 100%;
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        height: 150px;
    }
    .txHash {
        font-size: small;
    }
    .txStatus {
        font-size: small;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
