@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    width: 25px;
    height: 25px;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #409acc;
    /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinnerContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 350px; */
}

.spinnerLeft {
    align-items: left !important;
}

.spinnerCenter {
    align-items: center !important;
}

.spinnerRight {
    align-items: right !important;
}
