@use '@example/styles/shared.module.scss';

.walletList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .walletDetails {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 250px;
        align-items: center;
        justify-content: space-between;

        .walletLeft {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        .walletImg {
            width: 30px;
            height: 30px;
        }

        .walletInstall {
            width: 100px;
        }
    }
}
